.cart {
    &__title {
        text-align: center;
        margin-bottom: 100px;

        h1 {
            margin-bottom: 40px;
        }
    }

    &__header {
        display: none;
    }

    &__cards {
        @include position($align: start, $justify: start);
        gap: 10px;
        margin-bottom: 40px;
    }

    &__item {
        @include position($direction: row);
        background-color: var(--general-color-white);
        border-radius: 10px;
        padding: 25px 20px;
        gap: 15px;
    }

    &__product {
        @include position($direction: row, $align: start);
        gap: 10px;

        p {
            font-size: 16px;
            line-height: 25px;
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    &__productTotal {
        display: none;
    }

    &__price {
        @include position();
        gap: 30px;
    }

    &__quantity {
        @include position($direction: row);

        p {
            display: none;
        }

        button {
            border: none;
            outline: none;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            text-align: center;

            i {
                font-size: 14px;

                &::before {
                    margin: 0;
                }
            }
        }
    }

    &__input {
        max-width: 30px;
        width: 30px;
        height: 20px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 8px;
        border: 2px solid rgba(160, 160, 160, 0.2);
        outline: none;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__remove {
        background-color: transparent;

        i {
            &::before {
                font-weight: 700;
            }
        }
    }

    &__proceed {
        @include position($align: start);
        gap: 30px;

        .white-btn {
            max-width: 200px;
            padding: 10px 25px;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: var(--general-color-black);
                color: var(--general-color-white);
            }
        }
    }

    &__total {
        @include position($align: start);
        background-color: var(--general-color-white);
        border-radius: 10px;
        padding: 25px;
        width: 100%;

        .blue-btn {
            margin-top: 20px;
            padding: 20px 35px;
            width: 100%;
        }
    }

    &__details {
        @include position($align: start);
        margin-top: 35px;
        margin-bottom: 35px;
        gap: 10px;
        width: 100%;
        border-bottom: 1px dotted var(--text-color-grey);
        padding-bottom: 15px;
    }

    &__info {
        @include position($direction: row, $align: start, $justify: space-between);
        width: 100%;
    }
}

@media (min-width: $tablet) {
    .cart {
        &__header {
            display: block;
            @include position($direction: row, $align: start, $justify: start);
            gap: 20px;
            margin-bottom: 20px;

            span:first-child {
                width: 350px;
            }

            span:last-child {
                margin-left: 38px;
            }
        }

        &__item {
            align-items: center;
            gap: 30px;
            width: 100%;
        }

        &__price {
            flex-direction: row;
            gap: 20px;
        }

        &__product {
            width: 300px;
        }

        &__productTotal {
            display: block;
        }

        &__proceed {
            @include position($direction: row,
                $justify: space-between,
                $align: start);
            gap: initial;
        }

        &__total {
            width: initial;
        }
    }
}

@media (min-width: $laptop) {
    .cart {
        &__item {
            justify-content: space-between;
            gap: initial;
        }

        &__price {
            gap: initial;
            justify-content: space-between;
            width: 25%;
        }

        &__product {
            width: 390px;
        }

        &__quantity {
            button {
                width: 30px;
                height: 30px;
            }
        }

        &__input {
            max-width: 50px;
            width: 50px;
            height: 35px;
            font-size: 18px;
        }

        &__header {
            gap: 80px;

            span:first-child {
                width: 400px;
            }

            span:last-child {
                margin-left: 30px;
            }
        }

        &__total {
            width: 365px;
        }
    }
}

@media (min-width: $desktop) {
    .cart {
        &__item {
            justify-content: space-between;
            gap: initial;
        }

        &__price {
            gap: initial;
            justify-content: space-between;
            width: 25%;
        }

        &__product {
            width: 390px;
        }

        &__header {
            gap: 140px;

            span:first-child {
                width: 380px;
            }

            span:last-child {
                margin-left: 5px;
            }
        }
    }
}