.form {
    &__title {
        text-align: center;
        margin-bottom: 55px;

        h1 {
            margin-bottom: 25px;
        }

        p {
            opacity: 0.7;
        }
    }

    &__content {
        @include position();
        gap: 40px;
    }

    &__wrapper {
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: var(--general-color-white);
        padding: 30px 25px;
        width: 100%;
        max-width: 350px;
    }

    &__card {
        @include position($align: start);
        gap: 20px;

        label {
            text-transform: capitalize;
            display: block;
            margin-bottom: 5px;
        }

        input {
            border-radius: 8px;
            border: 1px solid rgba(160, 160, 160, 0.2);
            outline: none;
            width: 100%;
            padding: 10px;
        }

        input {
            &::placeholder {
                padding: 10px;
                font-size: 14px;
                opacity: 0.7;
                overflow: hidden;
            }
        }
    }

    &__field {
        width: 100%;
        position: relative;

        &--check {
            @include position($direction: row, $justify: start);
            width: 100%;

            input {
                max-width: 25px;
            }
        }
    }

    &__item {
        @include position($direction: row, $justify: space-between, $align: start);
    }

    &__button {
        width: 100%;
        padding: 15px 35px;
    }

    &__link {
        @include position();
    }

    a {
        color: var(--primary-color-blue);
        transition: color 0.2s ease-in-out;

        &:hover{
            color: var(--primary-color-hoverBlue);
        }
    }
}

.error {
    color: red;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: -18px;
    left: 5px;
}

@media (min-width: $sm) {
    .form {
        &__wrapper {
            padding: 30px 25px;
        }

        &__link {
            flex-direction: row;
            gap: 5px;
        }
    }
}