.preview {
    &__title {
        @include position();
        text-align: center;
        gap: 15px;
        margin-bottom: 50px;

        p{
            opacity: 0.7;
        }

        button {
            padding: 12px 28px;
        }
    }

    &__content {
        @include position();
        gap: 10px;
    }

    &__stats {
        text-align: start;
    }

    &__item{
        p {
            max-width: 315px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        &:last-child{
            p{
                margin-bottom: 0px;
            }
        }
    }
}

@media (min-width: 768px) {
    .preview {
        &__title {
            gap: 10px;

            button {
                margin-top: 10px;
            }
        }

        &__content {
            flex-direction: row;
            justify-content: space-between;
            gap: initial;
        }
    }
}

@media (min-width: 992px) {
    .preview{
        &__title{
            align-items: start;
            text-align: left;
        }
        &__content{
            gap: 70px;
        }
    }
}