.preview {
  &__title {
    @include position();
    text-align: center;
    gap: 15px;
    margin-bottom: 50px;

    button {
      padding: 12px 28px;
    }
  }

  &__content {
    @include position();
  }

  &__img {
    margin-bottom: 50px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__stats {
    text-align: start;
    padding-left: 10px;
  }

  &__item {
    p {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    &:last-child {
      p {
        margin-bottom: 0px;
      }
    }
  }
}

@media (min-width: $sm) {
  .preview {
    &__title {
      gap: 10px;

      button {
        margin-top: 10px;
      }
    }

    &__img {
      margin-bottom: 0px;

      img {
        width: initial;
      }
    }

    &__stats {
      padding-left: 0px;
    }

    &__content {
      flex-direction: row;
      gap: initial;
    }
  }
}

@media (min-width: $md) {
  .preview {
    &__title {
      align-items: start;
      text-align: left;
    }
  }
}

@media (min-width: $lg) {
  .preview {
    &__title {
      p {
        padding-right: 20px;
      }
    }

    &__img {
      width: fit-content;
    }

    &__content {
      justify-content: space-between;
    }

    &__stats {
      max-width: 315px;
    }
  }
}
@media (min-width: $xl) {
  .preview {
    &__title {
      p {
        padding-right: 20px;
      }
    }

    &__content {
      justify-content: space-between;
    }

    &__stats {
      max-width: 400px;
    }
  }
}
