@import "mixins.scss";
@import "variables.scss";
@import "./grid_system.scss";
@import "./reset.css";
@import "/src/css/sections/header.scss";
@import "/src/css/sections/footer.scss";
@import "/src/css/brainwave-fonts.css";
@import "/src/css/sections/hero.scss";
@import "/src/css/gilroy-font.css";
@import "/src/css/sections/components/videoBanner.scss";
@import "/src/css/sections/preview.scss";
@import "/src/css/sections/services.scss";
@import "/src/css/sections/reasons.scss";
@import "/src/css/sections/previewVideo.scss";
@import "/src/css/sections/reviews.scss";
@import "/src/css/sections/quote.scss";
@import "/src/css/pricing_sections/pricing.scss";
@import "/src/css/pricing_sections/questions.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    font-family: "Gilroy";
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color-blue: #473bf0;
    --primary-color-hoverBlue: #736af4;
    --primary-color-green: #68d585;
    --primary-color-red: #f74d4d;
    --secondary-color-lightRed: #f97e7e;
    --secondary-color-lightGreen: #90e0a5;
    --secondary-color-lightBlue: #473bf033;
    --general-color-black: #161c2d;
    --general-color-white: #ffffff;
    --text-color-grey: #a0a0a0;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
}

h1 {
    font-size: 36px;
    line-height: 48px;
}

h2 {
    font-size: 32px;
    line-height: 44px;
}

h3{
    font-size: 24px;
    line-height: 34px;
}

h4 {
    font-size: 20px;
    line-height: 32px;
}

.text-bold {
    font-weight: 700;
}

.text-regular {
    font-weight: 400;
}

.text-xl {
    font-size: 24px;
    line-height: 34px;
}

.text-lg {
    font-size: 22px;
    line-height: 32px;
}

.text-md {
    font-size: 18px;
    line-height: 32px;
}

.text-sm {
    font-size: 16px;
    line-height: 30px;
}

.text-xs {
    font-size: 14px;
    line-height: 26px;
}

.text-tiny {
    font-size: 12px;
    line-height: auto;
}

.text-faded{
    opacity: 0.7;
}

button {
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 700;
}

.blue-btn {
    background-color: var(--primary-color-blue);
    color: var(--general-color-white);
    transition: background-color 0.2 ease-in-out;
    text-transform: capitalize;

    &:hover {
        background-color: var(--primary-color-hoverBlue);
    }
}

.white-btn {
    background-color: var(--general-color-white);
    color: var(--general-color-black);
}

.dark-bg {
    background-color: #161c2d;
}

.grey-bg{
    background-color: #F4F7FA;
}

.green-bg{
    background-color: var(--primary-color-green);
}

.logo-style {
    font-family: "Rubik", sans-serif;
    font-size: 28px;
    line-height: 30px;
}

.icon-play {
    color: var(--text-color-grey);
    border: 1px solid var(--text-color-grey);
    outline: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: $xs) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $sm) {
    .container {
        max-width: 720px;
    }

    h1 {
        font-size: 48px;
        line-height: 58px;
    }

    h2 {
        font-size: 36px;
        line-height: 48px;
    }

    h3 {
        font-size: 32px;
        line-height: 44px;
    }

    h4 {
        font-size: 24px;
        line-height: 34px;
    }
}

@media (min-width: $md) {
    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container {
        max-width: 960px;
    }
}

@media (min-width: $lg) {
    .container {
        max-width: 1140px;
    }

    h1 {
        font-size: 60px;
        line-height: 65px;
    }

    h2 {
        font-size: 48px;
        line-height: 58px;
    }

    h3{
        font-size: 36px;
        line-height: 48px;
    }

    h4 {
        font-size: 32px;
        line-height: 44px;
    }

    section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media (min-width: $xl) {
    .container {
        max-width: 1320px;
    }
}